#input {
  font-family: 'Dancing Script';
  font-size: 12px;
	text-rendering: geometricPrecision;
  caret-color: transparent;
	color: #241704;
	background: transparent;

  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0;

  outline: none;
  resize: none;
  border: none;
  overflow: auto;
  scrollbar-width: none; /* firefox */

  position: fixed;

	white-space: pre-wrap;
	word-wrap: break-word;
}

#input::placeholder {
	color: #8c846f;
}

#input::-webkit-scrollbar {
  display: none;
}
